.character {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.button {
  background-color: #f00;
  color: #fff;
  width: fit-content;
  margin: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
  left: 85%;
}

.name {
  background-color: rgba(60, 60, 60, 0.5);
  color: #fff;
  width: fit-content;
  margin: 1rem;
  transform: translateY(-4rem);
  border-radius: 5px;
  padding: 0.1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateY(-2rem);
}

.species {
  display: inline;
  width: fit-content;
  font-size: 1rem;
}

.gender {
  display: inline;
  width: fit-content;
  font-size: 1rem;
}
